venv/
hand move/
new-dataset/
training_data_2/
new-data/
validation_data/
training_data/
__pycache__/
*.npz
*.npy
*.pickle
*.fif
data/
archive/*
.vscode/
*.pdf
*.csv
*.png
*.pkl
*.egg-info/
build/
dist/
